{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
  .ui-slider {
    height: .35rem;
    background-color: #dddddd;
    border: none;
  }

  .ui-slider .ui-slider-handle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: absolute;
    background-color: dodgerblue;
    border-style: none;
  }

  .ui-slider .ui-slider-range {
    background-color: #a8a8a8;
    height: .35rem;
  }

  .tab {
    overflow: hidden;
  }

  .tab button {
    float: left;
    outline: none;
    transition: 0.3s;
  }

  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: white;
    font-weight: bold;
    border-top-width: 8px;
    border-color: dodgerblue;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    transition: .3s ease;
    background-color: #000000;
  }

  .news__item:hover .overlay {
    opacity: .4;
  }

  /* Style the tab content */
  /* .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    } */

  .slider__custom--pagination {
    bottom: 10vh;
  }
</style>
{% endblock head %}

{% block content %}


<!-- SLIDER -->
<section class="relative">
  <div id="slider-home" class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <div class="splide__slide">
          <img
            src="https://images.unsplash.com/photo-1558403194-611308249627?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            alt="Home Main Slider 1" class="object-cover w-full h-vh-80">
        </div>
        <div class="splide__slide">
          <img
            src="https://images.pexels.com/photos/1054974/pexels-photo-1054974.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="Home Main Slider 1" class="object-cover w-full h-vh-80">
        </div>
        <div class="splide__slide">
          <img
            src="https://images.unsplash.com/photo-1517486808906-6ca8b3f04846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1374&q=80"
            alt="Home Main Slider 1" class="object-cover w-full h-vh-80">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SEARCH & KPR (DESKTOP) -->
<section class="justify-center hidden max-w-6xl px-6 mx-auto md:flex md:visible">
  <div class="relative z-10 w-3/4 max-w-3xl pb-4 mx-2 mb-4 bg-white border-t-8 border-blue-500 shadow-lg -pb-32"
    style="bottom: 8vh;">
    <!-- <div class="h-2 bg-blue-500"></div> -->
    <h1 class="py-3 text-xl font-bold text-center text-gray-800">Search by your needs</h1>
    <div class="flex px-4">
      <div class="w-1/2">
        <div class="h-auto mx-2 my-4 border-b-2">
          <h2 class="text-gray-600 ">Price range</h2>
        </div>
        <div class="flex h-10 mx-4 my-3">
          <div id="slider-range" class="w-full mx-1 my-auto"></div>
        </div>
        <div class="grid grid-cols-2 gap-3 mx-4 ">
          <input id="min-amount" placeholder="Minimum Price" value="0"
            class="h-10 col-start-1 col-end-2 px-4 py-2 text-sm text-gray-900 border border-gray-600 rounded-full"></input>
          <input id="max-amount" placeholder="Maximum Price"
            class="h-10 col-start-2 col-end-3 px-4 py-2 text-sm text-gray-900 border border-gray-600 rounded-full"></input>
        </div>
      </div>

      <div class="w-1/2">
        <div class="h-auto mx-2 my-4 border-b-2">
          <h2 class="text-gray-600 ">Filters</h2>
        </div>
        <div class="grid grid-cols-2 gap-3 m-4 text-sm text-gray-900">
          <div class="relative top-0 bottom-0 left-0 right-0 w-full h-10 px-2 border border-gray-600 rounded-full">
            <select name="bedrooms" id="bedrooms" class="w-full h-full bg-transparent focus:outline-none">
              <option value="0" class="text-gray-600"># of Bedrooms</option>
              <option value="1">1 Bedroom</option>
              <option value="2">2 Bedrooms</option>
              <option value="3">3 Bedrooms</option>
              <option value="4">4 Bedrooms</option>
            </select>
          </div>
          <div class="relative top-0 bottom-0 left-0 right-0 w-full h-10 px-2 border border-gray-600 rounded-full">
            <select name="bathrooms" id="bathrooms" class="w-full h-full bg-transparent focus:outline-none">
              <option value="0"># of Bathrooms</option>
              <option value="1">1 Bathroom</option>
              <option value="2">2 Bathrooms</option>
              <option value="3">3 Bathrooms</option>
              <option value="4">4 Bathrooms</option>
            </select>
          </div>
          <div class="relative top-0 bottom-0 left-0 right-0 w-full h-10 px-2 border border-gray-600 rounded-full">
            <select name="land-areas" id="land-areas" class="w-full h-full bg-transparent focus:outline-none">
              <option value="0">Land Area</option>
              <option value="1">60m x 72m</option>
              <option value="2">48m x 52m</option>
              <option value="3">44m x 56m</option>
              <option value="4">28m x 32m</option>
              <option value="5">20m x 24m</option>
              <option value="6">18m x 20m</option>
            </select>
          </div>
          <div class="relative top-0 bottom-0 left-0 right-0 w-full h-10 px-2 border border-gray-600 rounded-full">
            <select name="clusters" id="clusters" class="w-full h-full bg-transparent focus:outline-none">
              <option value="0">Clusters</option>
              <option value="1">Ayana</option>
              <option value="2">Fiera</option>
            </select>
          </div>
          <!-- <div class="grid grid-cols-2 col-span-1">
              <input placeholder="Land Area" class="h-10 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
              <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
            </div>
            <div class="grid grid-cols-2 col-span-1">
              <input placeholder="All Cluster" class="h-10 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
              <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
            </div> -->
        </div>
      </div>
    </div>
    <!-- FILTERS -->
    <div class="flex h-16">
      <button class="flex content-center m-auto">
        <h1 class="text-lg font-bold text-center text-blue-500">Find your Dream House</h1>
        <i class="mx-3 mt-2 text-blue-500 fas fa-search"></i>
      </button>
    </div>
  </div>
  <!-- KPR CALCULATOR -->
  <div class="relative right-0 z-10 w-56 pb-4 mx-2 mb-4 bg-white border-t-8 border-blue-500 shadow-lg"
    style="bottom: 8vh;">
    <h1 class="py-3 text-xl font-bold text-center text-gray-800">KPR Calculator</h1>
    <div class="mx-4 my-1 text-sm">
      <input placeholder="Input Plafond (Rp)"
        class="w-full h-8 px-4 py-2 my-2 border border-gray-600 rounded-full"></input>
      <div class="relative top-0 bottom-0 left-0 right-0 w-full h-8 px-2 border border-gray-600 rounded-full">
        <select name="tenures" id="tenures" class="w-full h-full bg-transparent focus:outline-none">
          <option value="0">Pilih Tenor</option>
          <option value="1">10 Tahun</option>
          <option value="2">15 Tahun</option>
          <option value="3">20 Tahun</option>
          <option value="4">25 Tahun</option>
          <option value="5">30 Tahun</option>
        </select>
      </div>
      <input placeholder="Input Bunga (Rp)"
        class="w-full h-8 px-4 py-2 my-2 border border-gray-600 rounded-full"></input>
      <div class="flex justify-center text-center">
        <a href="#" class="w-full whitespace-no-wrap btn btn-blue">Hitung Angsuran</a>
      </div>
      <div class="mt-2">
        <div class="ml-2 text-xs text-gray-700">Angsuran per bulan: </div>
        <div class="px-4 py-2 mt-1 font-bold text-gray-900 bg-gray-200 rounded-full">Rp -</div>
      </div>
    </div>
  </div>
</section>

<!-- SEARCH & KPR (MOBILE) -->
<section class="relative h-auto shadow-lg tab md:hidden" style="bottom: 8vh;">
  <!-- TAB BUTTONS -->
  <div class="relative z-0 flex h-12 mx-4 mt-4 bg-gray-200">
    <button id="defaultOpen" class="w-1/2 h-12 text-gray-900 cursor-pointer button tablinks"
      onclick="openTab(event, 'SearchTab')">Search</button>
    <button class="w-1/2 h-12 text-gray-900 button tablinks" onclick="openTab(event, 'KPRCalculator')">KPR
      Calculator</button>
  </div>
  <!-- SEARCH TAB -->
  <div id="SearchTab" class="relative z-10 py-4 mx-4 mb-4 bg-white shadow-lg tabcontent">
    <div class="h-auto mx-4 mb-4 border-b-2">
      <h1 class="pb-3 text-xl font-bold text-center text-gray-800">Search by your needs</h1>
      <h2 class="my-2 text-lg text-gray-600">Price range</h2>
    </div>
    <div class="grid grid-cols-2 gap-3 mx-4 ">
      <input placeholder="Minimum Price"
        class="h-12 col-start-1 col-end-2 p-4 border border-gray-600 rounded-full"></input>
      <input placeholder="Maximum Price"
        class="h-12 col-start-2 col-end-3 p-4 border border-gray-600 rounded-full"></input>
    </div>
    <!-- FILTERS -->
    <div class="h-auto mx-4 my-4 border-b-2">
      <h2 class="my-2 text-lg text-gray-600">Filters</h2>
    </div>
    <div class="grid grid-cols-2 gap-3 m-4">
      <div class="grid grid-cols-2 col-span-1">
        <input placeholder="# of bedroom" class="h-12 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
        <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
      </div>
      <div class="grid grid-cols-2 col-span-1">
        <input placeholder="# of bathroom" class="h-12 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
        <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
      </div>
      <div class="grid grid-cols-2 col-span-1">
        <input placeholder="Land Area" class="h-12 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
        <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
      </div>
      <div class="grid grid-cols-2 col-span-1">
        <input placeholder="All Cluster" class="h-12 col-span-2 pl-4 border border-gray-600 rounded-full"></input>
        <i class="col-start-3 m-auto -ml-6 text-gray-500 fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="flex h-16">
      <button class="flex content-center m-auto">
        <h1 class="text-lg font-bold text-center text-blue-500">Find your Dream House</h1>
        <i class="mx-3 mt-2 text-blue-500 fas fa-search"></i>
      </button>
    </div>
  </div>
  <!-- KPR CALCULATOR TAB -->
  <div id="KPRCalculator" class="relative z-10 pb-6 mx-4 bg-white shadow-lg tabcontent">
    <h1 class="py-3 text-xl font-bold text-center text-gray-800">KPR Calculator</h1>
    <div class="mx-4 text-sm">
      <input placeholder="Input Plafond (Rp)"
        class="w-full h-10 px-4 py-2 my-2 border border-gray-600 rounded-full"></input>
      <div class="flex w-auto">
        <input placeholder="Pilih Tenor" class="w-full h-10 pl-4 border border-gray-600 rounded-full">
        <i class="m-auto -ml-8 text-gray-500 fas fa-chevron-down"></i>
        </input>
      </div>
      <input placeholder="Input Bunga (Rp)"
        class="w-full h-10 px-4 py-2 my-2 border border-gray-600 rounded-full"></input>
    </div>

  </div>
</section>

<!-- ABOUT (MEDIUM and ABOVE) -->
<section class="hidden px-12 mx-4 mt-16 mb-20 md:flex">
  <div class="max-w-3xl mx-auto">
    <div class="relative z-10 w-7/12 max-w-md shadow-lg h-72">
      <iframe class="w-full h-full " src="
      https://www.youtube.com/embed/qC5KtatMcUw?controls=0"> </iframe>
    </div>
    <div class="relative p-4 mb-6 ml-20 -mt-64 overflow-hidden bg-white shadow-lg"
      style="padding-left: 52.5%; padding-right: 10%;">
      <div class="relative z-10 w-full py-8">
        <div>
          <h1 class="mb-2 text-xl font-bold text-gray-800">About Graha Raya</h1>
          <p class="text-sm text-gray-600">Building homes, not houses. A full orchestra of harmonious co-living
            concept,
            greatly
            compatible with the era of milennials.</p>
        </div>
        <div class="flex h-20 mt-2">
          <a href="#" class="my-auto whitespace-no-wrap btn btn-blue">Learn More</a>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 z-0 w-48">
        <img class="absolute bottom-0 object-cover w-auto h-auto" src="{% static 'img/graha-design-element2.png' %}"
          alt="">
      </div>
    </div>
  </div>
</section>


<!-- ABOUT (MOBILE) -->
<section class="mx-4 my-10 md:hidden">
  <div class="relative z-10 h-48 m-4 shadow-lg">
    <iframe class="w-full h-full " src="
      https://www.youtube.com/embed/qC5KtatMcUw?controls=0"> </iframe>
  </div>
  <div class="relative p-4 px-8 pt-48 mb-6 -mt-40 overflow-hidden bg-white shadow-lg">
    <div>
      <div>
        <h1 class="mb-2 -mt-6 text-xl font-bold text-gray-800">About Graha Raya</h1>
        <p class="text-sm text-gray-600">Building homes, not houses. A full orchestra of harmonious co-living concept,
          greatly
          compatible with the era of milennials.</p>
      </div>
      <div class="flex h-20 mt-2">
        <a href="#" class="my-auto btn btn-blue">Learn More</a>
      </div>
    </div>
    <div class="absolute bottom-0 right-0 w-48 ">
      <img class="absolute bottom-0 object-cover w-auto h-auto" src="{% static 'img/graha-design-element2.png' %}"
        alt="">
    </div>
  </div>
</section>

<!-- PRODUK GRAHA RAYA -->
<section class="mt-6 mb-12">
  <div>
    <h1 class="mb-2 text-xl font-bold text-center">Produk Graha Raya</h1>
    <p class="mx-auto text-base leading-tight text-center">Elit labore laboris incididunt in duis sunt non.</p>
  </div>
  <div class="max-w-4xl mx-auto">
    <div class="hidden w-full px-2 my-4 md:flex">
      <div class="w-1/3 mx-2 overflow-hidden bg-gray-300">
        <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/beryl-web-dgn-taman.jpg' %}" alt="">
        <div class="py-2 mx-3">
          <h1 class="my-2 text-xl font-bold text-gray-900">Area Hunian</h1>
          <p class="my-2 text-gray-900">Proident laboris aliquip nulla mollit est. Fugiat nulla enim aliqua dolor
            irure nisi
            esse minim elit amet.</p>
          <div class="my-4">
            <a href="{% url 'products' %}" class="text-base font-bold text-blue-500">See More</a>
          </div>
        </div>
      </div>
      <div class="w-1/3 mx-2 overflow-hidden bg-gray-300 ">
        <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/img_rukanfortune01.jpg' %}" alt="">
        <div class="py-2 mx-3">
          <h1 class="my-2 text-xl font-bold text-gray-900">Area Komersial</h1>
          <p class="my-2 text-gray-900">Fugiat reprehenderit duis dolore aliqua id minim sint dolor deserunt ex
            officia cillum.
          </p>
          <div class="my-4">
            <a href="#" class="text-base font-bold text-blue-500">See More</a>
          </div>
        </div>
      </div>
      <div class="w-1/3 mx-2 overflow-hidden bg-gray-300 ">
        <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/ruko-beryl3.jpg' %}" alt="">
        <div class="py-2 mx-3">
          <h1 class="my-2 text-xl font-bold text-gray-900">Ready Stocks</h1>
          <p class="my-2 text-gray-900">Cillum sit velit veniam dolore amet cillum ut eiusmod reprehenderit officia.
          </p>
          <div class="my-4">
            <a href="#" class="text-base font-bold text-blue-500">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="produk" class="pt-4 splide md:hidden">
    <div class="splide__track">
      <div class="splide__list">
        <div class="flex-shrink-0 mx-4 overflow-hidden scrolling-touch bg-gray-300 splide__slide">
          <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/beryl-web-dgn-taman.jpg' %}" alt="">
          <div class="py-2 mx-3">
            <h1 class="my-2 text-xl font-bold text-gray-900">Area Hunian</h1>
            <p class="my-2 text-gray-900">Proident laboris aliquip nulla mollit est. Fugiat nulla enim aliqua dolor
              irure nisi
              esse minim elit amet.</p>
            <div class="my-4">
              <a href="{% static 'products' %}" class="text-base font-bold text-blue-500">See More</a>
            </div>
          </div>
        </div>
        <div class="flex-shrink-0 mx-4 mx-auto overflow-hidden scrolling-touch bg-gray-300 splide__slide">
          <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/img_rukanfortune01.jpg' %}" alt="">
          <div class="py-2 mx-3">
            <h1 class="my-2 text-xl font-bold text-gray-900">Area Komersial</h1>
            <p class="my-2 text-gray-900">Fugiat reprehenderit duis dolore aliqua id minim sint dolor deserunt ex
              officia cillum.
            </p>
            <div class="my-4">
              <a href="#" class="text-base font-bold text-blue-500">See More</a>
            </div>
          </div>
        </div>
        <div class="flex-shrink-0 mx-auto overflow-hidden scrolling-touch bg-gray-300 splide__slide">
          <img class="object-cover w-full h-48 bg-gray-400" src="{% static 'img/ruko-beryl3.jpg' %}" alt="">
          <div class="py-2 mx-3">
            <h1 class="my-2 text-xl font-bold text-gray-900">Ready Stocks</h1>
            <p class="my-2 text-gray-900">Cillum sit velit veniam dolore amet cillum ut eiusmod reprehenderit officia.
            </p>
            <div class="my-4">
              <a href="#" class="text-base font-bold text-blue-500">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FEATURES -->
<section class="w-full py-8 bg-fixed bg-blue-500 bg-cover"
  style="background-image: url('https://images.unsplash.com/photo-1496170804262-975019a5cd34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')">
  <div class="w-full text-center md:mb-12 sm:mb-4 md:flex">
    <div class="px-6 mx-auto ">
      <h1 class="text-xl font-bold text-white">Features</h1>
      <p class="text-white text-md">Pariatur eu id aliqua sit amet voluptate.</p>
    </div>
  </div>
  <div class="flex justify-center text-center">
    <div class="hidden md:max-w-2xl md:block lg:max-w-5xl">
      <div class="flex w-full mb-8">
        <div class="w-1/3 mx-4">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_01.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">10 Minutes to Tolls</p>
          <p class="text-sm text-white">Esse Lorem esse esse officia adipisicing sit ut est exercitation labore et
            aliqua.</p>
        </div>
        <div class="w-1/3 mx-4">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_02.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Dilewati Jalan Utama</p>
          <p class="text-sm text-white">Officia esse duis velit culpa.Non excepteur sunt proident est non ad est anim
            consectetur sit.</p>
        </div>
        <div class="w-1/3 mx-4">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_03.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Shuttle </p>
          <p class="text-sm text-white">In nisi irure elit exercitation sint consequat fugiat quis commodo eu dolor
            tempor irure.</p>
        </div>
      </div>
      <div class="flex">
        <div class="w-1/3 mx-4 mb-8">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_04.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Direct Access to Airport</p>
          <p class="text-sm text-white">Qui esse nulla commodo qui elit laboris et adipisicing quis.</p>
        </div>
        <div class="w-1/3 mx-4">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_05.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">5 Minutes Away from Public Utilities</p>
          <p class="text-sm text-white">Sint consectetur nulla magna quis velit irure mollit sint nisi.</p>
        </div>
        <div class="w-1/3 mx-4">
          <img class="w-20 h-20 mx-auto" src="{% static 'img/fasilitas/icon_06.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">And Many More Facilities</p>
          <p class="text-sm text-white">Deserunt nulla enim quis quis anim ut ipsum fugiat sit reprehenderit ipsum
            quis anim.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="my-4 md:hidden splide">
    <div class=" splide__track">
      <div class=" splide__list">
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_01.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">10 Minutes to Tolls</p>
          <p class="text-sm text-white">Esse Lorem esse esse officia adipisicing sit ut est exercitation labore et
            aliqua.</p>
        </div>
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_02.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Dilewati Jalan Utama</p>
          <p class="text-sm text-white">Officia esse duis velit culpa.Non excepteur sunt proident est non ad est anim
            consectetur sit.</p>
        </div>
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_03.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Shuttle </p>
          <p class="text-sm text-white">In nisi irure elit exercitation sint consequat fugiat quis commodo eu dolor
            tempor irure.</p>
        </div>
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_04.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">Direct Access to Airport</p>
          <p class="text-sm text-white">Qui esse nulla commodo qui elit laboris et adipisicing quis.</p>
        </div>
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_05.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">5 Minutes Away from Public Utilities</p>
          <p class="text-sm text-white">Sint consectetur nulla magna quis velit irure mollit sint nisi.</p>
        </div>
        <div class="py-8 splide__slide">
          <img class="w-20 h-20" src="{% static 'img/fasilitas/icon_06.png' %}" alt="">
          <p class="pt-4 pb-2 text-base font-bold text-white">And Many More Facilities</p>
          <p class="text-sm text-white">Deserunt nulla enim quis quis anim ut ipsum fugiat sit reprehenderit ipsum
            quis anim.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex content-center justify-center mt-8 ">
    <a href="#" class=" btn btn-white">See All Feature List</a>
  </div>
</section>

<!-- BERITA TERBARU -->
<section class="my-12">
  <div class="px-6 my-6 text-center">
    <h1 class="text-xl font-bold text-gray-900">Berita Terbaru</h1>
    <p class="leading-tight text-gray-900 text-md">Elit ea excepteur duis officia veniam proident aliquip cupidatat
      aliquip ipsum
      velit.</p>
  </div>

  <div id="news-md" class="justify-center hidden px-4 md:flex">
    <div class="flex md:max-w-6xl">

      <a href="#" class="relative w-1/3 h-64 mx-2 bg-blue-500 news__item">
        <div class="z-10 overlay">
        </div>
        <img class="z-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
          alt="">
        <div class="absolute bottom-0 z-20 mx-4 mb-4 leading-tight">
          <p class="text-white">12 March 2018</p>
          <h1 class="my-2 text-xl font-bold text-white">Mollit proident ipsum velit.</h1>
          <h1 class="text-white">Sit in ea Lorem id pariatur magna voluptate deserunt fugiat culpa
            ipsum.</h1>
        </div>
      </a>

      <a href="#" class="relative w-1/3 h-64 mx-2 bg-blue-500 news__item">
        <div class="z-0 overlay">
        </div>
        <img class="z-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80"
          alt="">
        <div class="absolute bottom-0 mx-4 mb-4 leading-tight ">
          <p class="z-10 text-white">16 April 2018</p>
          <h1 class="z-10 my-2 text-xl font-bold text-white">Aliquip veniam culpa.</h1>
          <h1 class="z-10 text-white">Do nisi cupidatat elit sunt veniam elit incididunt consequat ad occaecat.</h1>
        </div>
      </a>

      <a href="#" class="relative w-1/3 h-64 mx-2 bg-blue-500 bg-cover news__item">
        <div class="z-0 overlay">
        </div>
        <img class="z-0 object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80"
          alt="">
        <div class="absolute bottom-0 mx-4 mb-4 leading-tight ">
          <p class="z-10 text-white">22 April 2018</p>
          <h1 class="z-10 my-2 text-xl font-bold text-white">Velit excepteur duis.</h1>
          <h1 class="z-10 text-white">Aliquip dolor officia esse non anim consectetur occaecat.</h1>
        </div>
      </a>

    </div>
  </div>

  <div id="news" class="md:hidden splide sm:block">
    <div class="splide__track">
      <div class="splide__list">
        <div class="relative h-64 mx-5 bg-blue-500 bg-cover splide__slide"
          style="background-image: url('https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
          <div class="z-0 overlay">
          </div>
          <div class="absolute bottom-0 mx-4 mb-10 leading-tight ">
            <p class="z-10 text-white">12 March 2018</p>
            <h1 class="z-10 my-2 text-xl font-bold text-white">Mollit proident ipsum velit.</h1>
            <h1 class="z-10 text-white">Sit in ea Lorem id pariatur magna voluptate deserunt fugiat culpa
              ipsum.</h1>
          </div>
        </div>
        <div class="relative h-64 mx-5 bg-blue-500 bg-cover splide__slide"
          style="background-image: url('https://images.unsplash.com/photo-1550581190-9c1c48d21d6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80')">
          <div class="z-0 overlay">
          </div>
          <div class="absolute bottom-0 mx-4 mb-10 leading-tight ">
            <p class="z-10 text-white">16 April 2018</p>
            <h1 class="z-10 my-2 text-xl font-bold text-white">Aliquip veniam culpa.</h1>
            <h1 class="z-10 text-white">Do nisi cupidatat elit sunt veniam elit incididunt consequat ad occaecat.</h1>
          </div>
        </div>
        <div class="relative h-64 mx-5 bg-blue-500 bg-cover splide__slide"
          style="background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80')">
          <div class="z-0 overlay">
          </div>
          <div class="absolute bottom-0 mx-4 mb-10 leading-tight ">
            <p class="z-10 text-white">22 April 2018</p>
            <h1 class="z-10 my-2 text-xl font-bold text-white">Velit excepteur duis.</h1>
            <h1 class="z-10 text-white">Aliquip dolor officia esse non anim consectetur occaecat.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.10/dist/js/splide.min.js"></script>
<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active shadow-lg", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active shadow-lg";
  }
  document.getElementById('defaultOpen').click()

  new Splide("#produk", {
    type: "loop",
    padding: {
      right: "2rem",
      left: "2rem",
    },
    gap: "1rem",
  }).mount();

  new Splide("#features", {
    type: "loop",
    padding: {
      right: "2rem",
      left: "2rem",
    },
    arrows: false,
    gap: "1rem",
  }).mount();

  new Splide("#slider-home", {
    type: "loop",
    gap: "1rem",
    autoplay: "playing",
    classes: {
      pagination: 'splide__pagination slider__custom--pagination'
    }
  }).mount();

  new Splide("#news", {
    type: "loop",
    padding: {
      right: "2rem",
      left: "2rem",
    },
    arrows: false,
    gap: "1rem",
  }).mount();
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {

    const kiloSeparator = new Intl.NumberFormat();
    $("#slider-range").slider({
      range: true,
      step: 10000000,
      min: 0,
      max: 5000000000,
      values: [100000000, 5000000000],
      slide: function (event, ui) {
        $("#min-amount").val("Rp " + kiloSeparator.format(ui.values[0]));
        $("#max-amount").val("Rp " + kiloSeparator.format(ui.values[1]));
      }
    });
    $("#min-amount").val("Rp " + kiloSeparator.format($("#slider-range").slider("values", 0)));
    $("#max-amount").val("Rp " + kiloSeparator.format($("#slider-range").slider("values", 1)));
  });
</script>
{% endblock content %}